/*fonts*/
@font-face{
	font-family: Open sans;
	src: url(../font/2211.ttf);
}
@font-face{
	font-family: Century Gothic;
	src: url(../font/Gothic.ttf);
}

body{
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Century Gothic';*/
	font-family: 'Arial', sans-serif;
}
.body-wrapper{
	overflow-x: hidden!important;
}
.navbar-default{
	background-color: inherit;
}

/*header*/

#logo{
	height: 150px;
	background: url('../img/logo_grey.png') center center / cover;
}

a.menu-underline:after{
	display: block;
    content: "";
    margin-top: 7px;
    height: 1px;
    background: #000;
    width: 0%;
     -webkit-transition: width .8s ease-in-out;
    -moz-transition: width .8s ease-in-out;
    -o-transition: width .8s ease-in-out;
    transition: width .8s ease-in-out;

}
a.menu-underline:hover:after,
a.menu-underline:focus:after {
    width: 100%;
}

.nav-wrapper{
	margin-top: 30px;
    font-weight: 500;
}
.navbar{
	border: 0px;
	font-family: 'Century Gothic';
	letter-spacing: 5px;
	text-transform: capitalize;
}
.navbar-brand img{
	height: 100px;
}

.navbar-brand {
	height: auto;
}


header .page_title{
	font-size: 30px;
	font-family: 'Century Gothic';
	font-weight: lighter;
	padding-bottom: 30px;
	padding-top: 20px;
	text-transform: uppercase;
}

/*header*/

/*footer*/
footer{
	background-color: #1b2728;
	color: #fff;
	padding-top: 30px;
}
footer ul{
	list-style: none;
	padding: 0;
}
footer h6{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
}
#footer_navbar{
	font-family: 'Century Gothic';
	letter-spacing: 5px;
	text-transform: capitalize;
}
#footer_navbar a{
	color: #fff;
	padding-top: 15px;
	display: block;
}

#footer_contacts{
	padding-top: 15px;
	font-family: 'Century Gothic';
	letter-spacing: 5px;
}

#footer_contacts span{
	display: block;
	margin-bottom: 40px;
}

.social{
	padding-top: 15px;
}

.social a{
	font-size: 15px;
	display: inline-block;
	margin-right: 7px;
	color: white;
	line-height: 30px;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	text-align: center;
	-webkit-transition: 0.3s ease-out 0.1s;
     -moz-transition: 0.3s ease-out 0.1s;
     -o-transition: 0.3s ease-out 0.1s;
     transition: 0.3s ease-out 0.1s;
}
.social a:hover{
	background: #00bbc5;
	color: white;
}
.list-contact-head a{
	color: black;
}

#m-team{
	height: 80px;
	background-color: #233334;
	line-height: 80px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}
#m-team a{
	color: #00dade;
}
#m-team .underline-link{
	font-size: 13px;
}

#footer_navbar a.menu-underline{
	display: inline-block;
	text-decoration: none;
}
#footer_navbar a.menu-underline:after{
	background: white;
}
/*footer*/

/* accordion */

.question_wrapper{
	margin-bottom: 13px;
}
.question_title{
	width: 100%;
	height: 57px;
	background: #e5f8f9;
	line-height: 20px;
	cursor: pointer;
	line-height: 57px;
	padding-left: 25px;
	padding-right: 25px;
}
.question_title img{
	float: right;
	margin-top: 20px;

}
.question_body{
	height: auto;
	display: none;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}
.close_accordion{
	-o-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
	 -webkit-transition: ease-out 0.5s;
     -moz-transition: ease-out 0.5s;
     -o-transition: ease-out 0.5s;
     transition: ease-out 0.5s;
}
.basic_accordion{
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	 -webkit-transition: ease-out 0.5s;
     -moz-transition: ease-out 0.5s;
     -o-transition: ease-out 0.5s;
     transition: ease-out 0.5s;
}




/* accordion */

/*FAQ*/
#faq_content{
	padding-bottom: 40px;
}

/*FAQ*/

/*photosessions*/
#photosessions{
	padding-bottom: 40px;
}
.row-padding-0{
	margin: 0;
}
#photosessions h3{
	margin-bottom: 6px;
}



a.underline-link{
	display: inline-block;
	font-size: 28px;
	color: #00cbc7;
	font-weight: lighter;
	line-height: 1;
	text-decoration:none;
    cursor: pointer;
    font-family: 'Century Gothic';

}
a.underline-link:after {
    display: block;
    content: "";
    margin-top: 7px;
    height: 1px;
    background: #00cbc7;
    width: 0%;
     -webkit-transition: width .8s ease-in-out;
    -moz-transition: width .8s ease-in-out;
    -o-transition: width .8s ease-in-out;
    transition: width .8s ease-in-out;
}
a.underline-link:hover:after,
a.underline-link:focus:after {
    width: 100%;
}
.date-time{
	color: #aeadad;
	font-size: 15px;
	font-weight: lighter;
	font-family: 'Century Gothic';
}
.short-description{
	margin-bottom: 30px;
}

/*button css*/
.wrapper-inner-tab-backgrounds-second{
}
.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	cursor: pointer;
}
.button29 {
	color: rgba(0,0,0,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(0,0,0,0.5);
	overflow: hidden;

}
.button29:hover{
	border: 1px solid rgba(0,0,0,0);
}
.button29 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}

.button29::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate(-100%, -600%) rotate(30deg);
	transform: translate(-100%, -600%)  rotate(30deg);
	background-color: rgba(0,0,0,0.5);
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	
}
.button29:hover::before{
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

.button29:hover::after{
	-webkit-transform: translate(0,25px) rotate(45deg);
	-moz-transform: translate(0,25px) rotate(45deg);
	transform: translate(0,25px) rotate(45deg);
}

.photosession-preview-wrapper{
	padding-bottom: 50px;
}

/*pagination*/
.pagination {
	margin: 0 auto;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #00cbc7;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/*pagination*/

/*photosessions*/



/*contacts page*/
#contacts{
	padding-bottom: 70px;
}
.list-contact-head{
	display: block;
    margin: 40px auto 0 auto;
    list-style: none;
    text-align: center;
}
.list-contact-head li {
	display: block;
	margin-bottom: 20px;
	font-size: 15px;
	font-family: 'Century Gothic';
	letter-spacing: 5px;
}


.contact-form-wrapper{
	background: #f0fbfc;
	text-align: center;
	width: 370px;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 100px;
}
.contact-form-wrapper h3{
	color: #00bbc5;
	margin-bottom: 40px;
	font-size: 20px;
	letter-spacing: 3px;
}
.contact-form-wrapper form input{
	display: block;
	border:none;
	margin: 0 auto 10px auto;
	width: 300px;
	height: 45px;
	padding-left: 6px;
	
}
.contact-form-wrapper form input::-webkit-input-placeholder {color: #bfbfbf;}
.contact-form-wrapper form input::-moz-placeholder          {color: #bfbfbf;}/* Firefox 19+ */
.contact-form-wrapper form input:-moz-placeholder           {color: #bfbfbf;}/* Firefox 18- */
.contact-form-wrapper form input:-ms-input-placeholder      {color: #bfbfbf;}

.contact-form-wrapper form button{
	width: 255px;
	height: 55px;
	background: white;
	letter-spacing: 3px;
	border: 1px solid black;
	margin-top: 20px;
}
.contact-form-wrapper .dom-time{
	margin-top: 30px;
}
.contact-form-wrapper .dom-time i{
	color: #00bbc5;
}

.lera-photo-wrapper img{
	max-height: 800px;
}

.map{
	padding-top: 70px;
}
/*contacts page*/

/*about page*/

.about-page-icon{
	width: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.about-first-paragraph{
	font-size: 16px;
	line-height: 34px;
}
.about-paragraph-title{
	color: #00bbc5;
	font-size: 20px;
}
.about-paragraph-content{
	font-size: 15px;
	line-height: 34px;
}
.about-first-section{
	padding-bottom: 50px;
}
.about-photo {
	max-width: 100%;
}
#about-page{
	padding-bottom: 75px;
}

/*about page*/

/*portfolio page*/
.portfolio-content-wrapper{
	padding-bottom: 50px;
}
.photo-category{
	list-style: none;
	font-size: 15px;
}
.photo-category li{
	display: block;
	padding-bottom: 30px;
	cursor: pointer;
	-webkit-transition: color .4s ease-in-out;
	-o-transition: color .4s ease-in-out;
	transition: color .4s ease-in-out;
}

.photo-category li:hover{
	color: #00dde9;
}

.photo-mix{
	height: 720px;
}
.portfolio-gallery-wrapper{
	text-align: center;
}


/*review page*/
.review-photo{
	max-height: 300px;
	max-width: 100%;
}

.one-review{
	padding-bottom: 50px;
}

.quotes{
	font-family: 'Century Gothic';
	font-size: 90px;
	color: #00bbc5;
	font-weight: bold;
	height: 40px;		
}
.review-body{
	padding-left: 50px;
}
.reviews-title{
	font-family: 'Century Gothic';
	line-height: 23px;
	letter-spacing: 3px;
	font-size: 15px;
	color: #00bbc5;
	text-transform: uppercase;
}
.pagination-wrapper{
	text-align: center;
}
#reviews-page{
	padding-bottom: 50px;
}


/*services photo page*/
.service-photo-wrapper img{
	width: 100%;
}
.service-photo-wrapper{
	float: left;
}
.service-description-wrapper{
	position: relative;
	right: 0;
	left: 40%;
	border: 1px solid black;
	padding: 90px 30px;
	margin-top: 70px;
	width:58.33333333%;
	z-index: -1;
	height: 420px;
}

.service-description {
	position: absolute;
    width: 70%;
    left: 20%;
}

.service-description-wrapper .wrapper-inner-tab-backgrounds-second{
	position: absolute;
    width: 250px;
    bottom: 110px;
    font-family: 'Century Gothic';
    left: 14%;
}