/*fonts*/
@font-face{
	font-family: Open sans;
	src: url(../font/2211.ttf);
}

body{
	font-family: 'Open sans';
	/*font-family: 'Century Gothic';*/
}

/*header*/

#logo{
	height: 150px;
	background: url('../img/logo.png') center center / cover;
}

#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { 
	display: inline; 
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
#navbar {
  margin: 0;
  padding: 0;
  height: 100px;
  list-style-type: none;
  text-align: center;
}
#navbar a {
	text-transform: uppercase;
	font-size: 15px;
 	font-family: 'Century Gothic';
	font-weight: lighter;
	line-height: 100px;
  	color: #2d2d2d;
  	padding: 5px 10px;
  	text-decoration: none;
  	font-weight: bold;
  	display: inline-block;
  	letter-spacing: 5px;

}

header .page_title{
	font-size: 30px;
	font-weight: lighter;
	padding-bottom: 30px;
	padding-top: 20px;
}

/*header*/

/*footer*/
footer{
	height: 500px;
	background-color: #1b2728;
	color: #fff;
	padding-top: 30px;
}
footer ul{
	list-style: none;
	padding: 0;
}
footer h6{
	font-size: 15px;
	text-transform: uppercase;
}
#footer_navbar{
	text-transform: capitalize;
}
#footer_navbar a{
	color: #fff;
	padding-top: 15px;
	display: block;
}

#footer_contacts{
	padding-top: 15px;
}

#footer_contacts span{
	display: block;
	margin-bottom: 40px;
}

.social{
	padding-top: 15px;
}

.social a{
	font-size: 15px;
	display: inline-block;
	margin-right: 7px;
	color: white;
	line-height: 30px;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	text-align: center;
	-webkit-transition: 0.3s ease-out 0.1s;
     -moz-transition: 0.3s ease-out 0.1s;
     -o-transition: 0.3s ease-out 0.1s;
     transition: 0.3s ease-out 0.1s;
}
.social a:hover{
	background: #00bbc5;
}

#m-team{
	height: 80px;
	background-color: #233334;
	line-height: 80px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}
#m-team a{
	color: #00dade;
}
/*footer*/

/* accordion */

.question_wrapper{
	margin-bottom: 13px;
}
.question_title{
	width: 100%;
	height: 57px;
	background: #e5f8f9;
	line-height: 20px;
	cursor: pointer;
	line-height: 57px;
	padding-left: 25px;
	padding-right: 25px;
}
.question_title img{
	float: right;
	margin-top: 20px;

}
.question_body{
	height: auto;
	display: none;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}
.close_accordion{
	-o-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
	 -webkit-transition: ease-out 0.5s;
     -moz-transition: ease-out 0.5s;
     -o-transition: ease-out 0.5s;
     transition: ease-out 0.5s;
}
.basic_accordion{
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	 -webkit-transition: ease-out 0.5s;
     -moz-transition: ease-out 0.5s;
     -o-transition: ease-out 0.5s;
     transition: ease-out 0.5s;
}




/* accordion */

/*FAQ*/
#faq_content{
	padding-bottom: 40px;
}

/*FAQ*/

/*photosessions*/
#photosessions{
	padding-bottom: 40px;
}
.row-padding-0{
	margin: 0;
}
#photosessions h3{
	margin-bottom: 6px;
}



a.underline-link{
	display: inline-block;
	font-size: 28px;
	color: #00cbc7;
	font-weight: lighter;
	line-height: 1;
	text-decoration:none;
    cursor: pointer;
    font-family: 'Century Gothic';

}
a.underline-link:after {
    display: block;
    content: "";
    margin-top: 7px;
    height: 1px;
    background: #00cbc7;
    width: 0%;
     -webkit-transition: width .8s ease-in-out;
    -moz-transition: width .8s ease-in-out;
    -o-transition: width .8s ease-in-out;
    transition: width .8s ease-in-out;
}
a.underline-link:hover:after,
a.underline-link:focus:after {
    width: 100%;
}
.date-time{
	color: #aeadad;
	font-size: 15px;
	font-weight: lighter;
	font-family: 'Century Gothic';
}
.short-description{
	margin-bottom: 30px;
}

/*button css*/
.wrapper-inner-tab-backgrounds-second{
}
.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	cursor: pointer;
}
.button29 {
	color: rgba(0,0,0,1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: rgba(0,0,0,0.5);
	border-left-color: rgba(0,0,0,0.5);

}
.button29 span{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	}
.button29:hover span{
	letter-spacing: 2px;
	}
.button29:hover{
	border-right-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
}

.button29 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button29::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(0,0,0,0.5);
	
}
.button29:hover::before{
	-webkit-transform: translate(0,-25px) rotate(-45deg);
	-moz-transform: translate(0,-25px) rotate(-45deg);
	transform: translate(0,-25px) rotate(-45deg);
}
.button29::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(0,0,0,0.5);
}
.button29:hover::after{
	-webkit-transform: translate(0,25px) rotate(45deg);
	-moz-transform: translate(0,25px) rotate(45deg);
	transform: translate(0,25px) rotate(45deg);
}
/*.button{
	display: block;
	height: 50px;
	line-height: 50px;
	color: black;
	border: 1px solid black;
	width: 185px;
	text-align: center;
	margin-top: 25px;
}
.button:hover{
	text-decoration: none;
	color: black;
}*/
.photosession-preview-wrapper{
	padding-bottom: 50px;
}

/*pagination*/
.pagination {
	margin: 0 auto;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #00cbc7;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/*pagination*/

/*photosessions*/