/*fonts*/
@font-face{
	font-family: Open sans;
	src: url(../font/2211.ttf);
}
@font-face{
	font-family: Century Gothic;
	src: url(../font/Gothic.ttf);
}

body{
	font-family: 'Open Sans', sans-serif;
	color: #2d2d2d;
}
.body-wrapper{
	overflow-x: hidden!important;
}
.navbar-default{
	background-color: inherit;
}
.navbar-default .navbar-nav>li>a{
	color: #2d2d2d;
}


/*magnific gallery css*/
.photo-mix{
	height: auto;
}
.min-photo{
	display: block;
	height: 290px;
}
.min-photo:before{
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../img/loop.png) center center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
}
.min-photo:hover:before{
	opacity: 1;
	 -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
	background-color: rgba(255,255,255,0.6);

}
.img-container{
	height: 100%;
}
/*magnific gallery css*/


/*header*/

#logo{
	height: 150px;
	background: url('../img/logo_grey.png') center center / cover;
}

a.menu-underline:after{
	display: block;
    content: "";
    margin-top: 7px;
    height: 1px;
    background: #000;
    width: 0%;
     -webkit-transition: width .8s ease-in-out;
    -moz-transition: width .8s ease-in-out;
    -o-transition: width .8s ease-in-out;
    transition: width .8s ease-in-out;

}
a.menu-underline:hover:after,
a.menu-underline:focus:after {
    width: 100%;
}

.nav-wrapper{
	margin-top: 30px;
    font-weight: 500;
}
.navbar{
	border: 0px;
	font-family: 'Century Gothic';
	letter-spacing: 5px;
	text-transform: capitalize;
}
.navbar-brand img{
	height: 100px;
}

.navbar-brand {
	height: auto;
}


header .page_title{
	font-size: 25px;
	font-family: 'Century Gothic';
	font-weight: lighter;
	padding-bottom: 30px;
	padding-top: 20px;
	text-transform: uppercase;
}

/*header*/

/*footer*/
footer{
	background-color: #1b2728;
	color: #fff;
	padding-top: 30px;
}
footer ul{
	list-style: none;
	padding: 0;
}
footer h6{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
}
#footer_navbar{
	font-family: 'Century Gothic';
	letter-spacing: 5px;
	text-transform: capitalize;
}
#footer_navbar a{
	color: #fff;
	padding-top: 15px;
	display: block;
}

#footer_contacts{
	padding-top: 15px;
	font-family: 'Century Gothic';
	letter-spacing: 5px;
}

#footer_contacts span{
	display: block;
	margin-bottom: 40px;
}

.social{
	padding-top: 15px;
}

.social a{
	font-size: 15px;
	display: inline-block;
	margin-right: 7px;
	color: white;
	line-height: 30px;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	text-align: center;
	-webkit-transition: 0.3s ease-out 0.1s;
     -moz-transition: 0.3s ease-out 0.1s;
     -o-transition: 0.3s ease-out 0.1s;
     transition: 0.3s ease-out 0.1s;
}
.social a:hover{
	background: #00bbc5;
	color: white;
}
.list-contact-head a{
	color: black;
}

#m-team{
	height: 80px;
	background-color: #233334;
	line-height: 80px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}
#m-team a{
	color: #00dade;
}
#m-team .underline-link{
	font-size: 13px;
}

#footer_navbar a.menu-underline{
	display: inline-block;
	text-decoration: none;
}
#footer_navbar a.menu-underline:after{
	background: white;
}
/*footer*/

/* accordion */

.question_wrapper{
	margin-bottom: 13px;
}
.question_title{
	width: 100%;
	height: 57px;
	background: #e5f8f9;
	line-height: 20px;
	cursor: pointer;
	line-height: 57px;
	padding-left: 25px;
	padding-right: 25px;
}
.question_title img{
	float: right;
	margin-top: 20px;

}
.question_body{
	height: auto;
	display: none;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}
.close_accordion{
	-o-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
	 -webkit-transition: ease-out 0.5s;
     -moz-transition: ease-out 0.5s;
     -o-transition: ease-out 0.5s;
     transition: ease-out 0.5s;
}
.basic_accordion{
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	 -webkit-transition: ease-out 0.5s;
     -moz-transition: ease-out 0.5s;
     -o-transition: ease-out 0.5s;
     transition: ease-out 0.5s;
}




/* accordion */

/*FAQ*/
#faq_content{
	padding-bottom: 40px;
}

/*FAQ*/

/*photosessions*/
#photosessions{
	padding-bottom: 40px;
}
.row-padding-0{
	margin: 0;
}
#photosessions h3{
	margin-bottom: 6px;
}

#photosessions .min-photo{
	height: 180px;
} 

a.underline-link{
	display: inline-block;
	font-size: 28px;
	color: #00cbc7;
	font-weight: lighter;
	line-height: 1;
	text-decoration:none;
    cursor: pointer;
    font-family: 'Century Gothic';

}
a.underline-link:after {
    display: block;
    content: "";
    margin-top: 7px;
    height: 1px;
    background: #00cbc7;
    width: 0%;
     -webkit-transition: width .8s ease-in-out;
    -moz-transition: width .8s ease-in-out;
    -o-transition: width .8s ease-in-out;
    transition: width .8s ease-in-out;
}
a.underline-link:hover:after,
a.underline-link:focus:after {
    width: 100%;
}
.date-time{
	color: #aeadad;
	font-size: 15px;
	font-weight: lighter;
	font-family: 'Century Gothic';
}
.short-description{
	margin-bottom: 30px;
}

/*button css*/

.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	cursor: pointer;
}
.button29 {
	color: rgba(0,0,0,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(0,0,0,0.5);
	overflow: hidden;

}
.button29:hover{
	border: 1px solid rgba(0,0,0,0);
}
.button29 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}

.button29::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate(-100%, -600%) rotate(30deg);
	transform: translate(-100%, -600%)  rotate(30deg);
	background-color: rgba(0,0,0,0.5);
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	
}
.button29:hover::before{
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

.button29:hover::after{
	-webkit-transform: translate(0,25px) rotate(45deg);
	-moz-transform: translate(0,25px) rotate(45deg);
	transform: translate(0,25px) rotate(45deg);
}

.photosession-preview-wrapper{
	padding-bottom: 50px;
}

/*pagination*/
.pagination {
	margin: 0 auto;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #00cbc7;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/*pagination*/

/*photosessions*/



/*contacts page*/
#contacts{
	padding-bottom: 70px;
}
.list-contact-head{
	display: block;
    margin: 40px auto 0 auto;
    list-style: none;
    text-align: center;
}
.list-contact-head li {
	display: block;
	margin-bottom: 20px;
	font-size: 15px;
	font-family: 'Century Gothic';
	letter-spacing: 5px;
}
.list-contact-head .fa{
	position: relative;
	left: 2px;
}


.contact-form-wrapper{
	background: #f0fbfc;
	text-align: center;
	width: 370px;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 100px;
}
.contact-form-wrapper h3{
	color: #00bbc5;
	margin-bottom: 40px;
	font-size: 20px;
	letter-spacing: 3px;
}
.contact-form-wrapper form input{
	display: block;
	border:none;
	margin: 0 auto 10px auto;
	width: 300px;
	height: 45px;
	padding-left: 6px;
	
}
.contact-form-wrapper form input::-webkit-input-placeholder {color: #bfbfbf;}
.contact-form-wrapper form input::-moz-placeholder          {color: #bfbfbf;}/* Firefox 19+ */
.contact-form-wrapper form input:-moz-placeholder           {color: #bfbfbf;}/* Firefox 18- */
.contact-form-wrapper form input:-ms-input-placeholder      {color: #bfbfbf;}

.contact-form-wrapper form button{
	width: 255px;
	height: 55px;
	background: white;
	letter-spacing: 3px;
	border: 1px solid black;
	margin-top: 20px;
}
.contact-form-wrapper .dom-time{
	margin-top: 30px;
}
.contact-form-wrapper .dom-time i{
	color: #00bbc5;
}

.lera-photo-wrapper img{
	max-height: 800px;
}

.map{
	padding-top: 70px;
}
/*contacts page*/

/*about page*/

.about-page-icon{
	width: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.about-first-paragraph{
	font-size: 16px;
	line-height: 34px;
}
.about-paragraph-title{
	color: #00bbc5;
	font-size: 20px;
}
.about-paragraph-content{
	font-size: 15px;
	line-height: 34px;
}
.about-first-section{
	padding-bottom: 50px;
}
.about-photo {
	max-width: 100%;
}
#about-page{
	padding-bottom: 75px;
}

/*about page*/

/*portfolio page*/
.portfolio-content-wrapper{
	padding-bottom: 50px;
}
.photo-category{
	list-style: none;
	font-size: 15px;
}
.photo-category li{
	display: block;
	padding-bottom: 30px;
	cursor: pointer;
	-webkit-transition: color .4s ease-in-out;
	-o-transition: color .4s ease-in-out;
	transition: color .4s ease-in-out;
}

.photo-category li:hover{
	color: #00dde9;
}

#portfolio-page .photo-mix{
	height: 720px;
}
#portfolio-page .min-photo{
	height: 180px;
}
.portfolio-gallery-wrapper{
	text-align: center;
}


/*review page*/
.review-photo{
	max-height: 300px;
	max-width: 100%;
}
.review-photo-wrapper{
	text-align: center;
}

.one-review{
	padding-bottom: 50px;
}

.quotes{
	font-family: 'Century Gothic';
	font-size: 90px;
	color: #00bbc5;
	font-weight: bold;
	height: 40px;		
}
.review-body{
	padding-left: 50px;
}
.reviews-title{
	font-family: 'Century Gothic';
	line-height: 23px;
	letter-spacing: 3px;
	font-size: 15px;
	color: #00bbc5;
	text-transform: uppercase;
}

.pagination-wrapper{
	text-align: center;
}
#reviews-page{
	padding-bottom: 50px;
}


/*services photo page*/
.service-photo-wrapper .service-main-photo{
	width: 100%;
}
.service-photo-wrapper{
	float: left;
	z-index: 11;
}
.service-description-wrapper{
	position: relative;
	right: 0;
	left: 40%;
	border: 1px solid black;
	padding: 90px 30px;
	margin-top: 70px;
	width:58.33333333%;
	z-index: 10;
	height: 420px;
}

.service-description {
	position: absolute;
    width: 70%;
    left: 20%;
}

.service-description-wrapper .wrapper-inner-tab-backgrounds-second{
	position: absolute;
    width: 250px;
    bottom: 110px;
    font-family: 'Century Gothic';
    left: 14%;
    z-index: 1000000;
}

.breadcrumb{
	background-color: inherit;
	padding-left: 0;
}
.breadcrumb .active{
	color: inherit;
}

.breadcrumb>li+li:before {
	padding:0 5px;
	color:inherit;
	content:"-"
}
.service-number{
	width: 35px;
	height: 35px;
	background-color: #00c3ca;
	border-radius: 100px;
	float: left;
	margin-left: 15px;
	text-align: center;
	font-size: 15px;
	line-height: 35px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}
.service-title-wrapper{
	padding-bottom: 35px;
}
.service-title-wrapper h3{
	display: inline-block;
	margin:0;
	padding-left: 20px;
	line-height: 33px;
}
.service-title-wrapper .underline-link{
	font-size: 24px;
}

.service-photo-icon{
	display: block;
	font-size: 17px;
	height: 25px;
	line-height: 25px;
}
.service-photo-icon img{
	padding-right: 10px;
}

.details-description{
	padding-top: 20px;
}
.service-wrapper{
	padding-bottom: 70px;
}

/*photosessions-inside page*/
.photosession-inside-wrapper h3{
	margin-top: 0;
}
#photosessions-inside{
	padding-bottom: 70px;
}
#photosessions-inside .min-photo{
	height: 180px;
}
/*photosessions-inside page*/


/*services wedding page*/
#services-wedding-page .service-description-wrapper{
		padding: 40px;
}

#services-wedding-page .service-description-wrapper .wrapper-inner-tab-backgrounds-second{
	bottom: 35px;
}
/*services wedding page*/

.services-inside-wrapper h3{
	padding-bottom: 20px;
	font-family: 'Century Gothic';
	font-size: 30px;
}

/*service inside*/
#services-inside-page{
	font-size: 17px;
	padding-bottom: 70px;
}

.additional-services-form{
	display: inline-block;
}
.additional-services-form label{
	display: block;
	font-weight: normal;
}
.additional-services-form input[type=checkbox]{
	display: none;
}
.additional-services-form [type="checkbox"] + label{
  	cursor: pointer;
  	height: 20px;
    margin-bottom: 8px
}

.additional-services-form input[type="checkbox"] + label::before{
	content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 5px 20px 0 0;
    border: 1px solid black;
    background: #fff;
}

.additional-services-form input[type="checkbox"]:checked + label::before {
    background: url(../img/check-mark.png) center center / cover;
}

#services-inside-page .wrapper-inner-tab-backgrounds-second{
	width: 75%;
}

/*order-form*/
.hidden-form-wrapper{
	display: none;
}

.popup-form-wrapper{
	background: white;
    height: 480px;
    width: 460px;
    position: relative;
    margin: auto;
    border: 1px solid #00bcbe;
    padding: 50px;
}
.popup-form-wrapper h4{
	font-family: 'Century Gothic';
	font-size: 20px;
	color: #9d9d9d;
}
.popup-form-wrapper p{
	font-size: 13px;
}
.popup-form-wrapper .popup-total-price{
	font-size: 15px;
	font-family: 'Century Gothic';
}

.popup-form-wrapper input{
	display: block;
	width: 100%;
	height: 45px;
	border: 1px solid black;
	padding-left: 13px;
}
.popup-form-wrapper .wrapper-inner-tab-backgrounds-second{
	margin: auto;
	width: 80%;
}

/*service inside*/

/*service main page*/
#services-page{
	padding-bottom: 70px;
}

#services-page .service-photosession{
	height: 70vh;
}
.service-photosession{
	padding: 0;
}

#services-page .services-button-wrapper{
	position: relative;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.6);

}
#services-page .services-button-wrapper .wrapper-inner-tab-backgrounds-second{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 90px;
}

#services-page .service-button-wrapper .sim-button{
	margin: 0;
}

/*service main page*/

/*index page*/

/*first section*/
#main-page-header{
	position: relative;
	height: 700px;
}
#main-page-header nav{
	position: absolute;
	z-index: 999;
}
#main-page-header .main-photo{
	position: absolute;
	right: 0;
	width:66.66666667%;
	height: 100%;
	background:url('../img/main_img.png') center center / cover;

}
#main-page-header .logo-container{
	position: absolute;
	height: 350px;
	width:58.33333333%;
	left: 30px;
	/*background: url('../img/logo.png') center center / contain;*/
	top: 50%; 
	-webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-bottom: 20px;
    text-align: center;
    line-height: 350px;
}
.logo-container img{
	height: 80%;
	margin: 0 auto;
	/*display: block;*/
}
.half-border-top{
	position: absolute;
	height: 100%;
	width: 50%;
	border-top: 1px solid black;
}
/*FIRST SECTION*/

/*second section*/

#main-page-services{
	position: relative;
	padding-top: 70px;

}
#main-page-services .row{
	height: 640px;
	padding-bottom: 70px;
}
.main-service-first{
	background: url('../img/main_service_1.png') center center / cover;
	max-height: 100%;
	height: 100%;
}

.main-service-description{
	position: relative;
	height: 100%;
	text-align: center;
}
.main-service-description h3{
	font-family: 'Century Gothic';
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0;
	font-size: 20px;
}
.main-service-description p{
	padding-top: 30px;
}

.main-service-description-wrapper{
	position: absolute;
	padding-left: 40px;
	padding-right: 40px;
	width: 90%;
	top: 50%; 
	-webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
}

.main-service-second{
	background: url('../img/service-photosession.png') center center / cover;
	max-height: 100%;
	height: 100%;
}

/*second section*/


/*third section*/
#main-page-porfolio{
	padding-bottom: 70px;
}


#main-page-porfolio .services-button-wrapper{
	height: 290px;
	line-height: 320px;
}

#main-page-porfolio .services-button-wrapper .wrapper-inner-tab-backgrounds-second{
	display: inline-block;	
	font-size: 20px;
	font-family: 'Century Gothic';
	letter-spacing: 3px;
	text-transform: uppercase;
}
#main-page-porfolio .button29{
	width: 300px;
}

/*thrid section*/


/*fourth section*/
#main-page-numbers{
	padding-bottom: 70px;
}
#main-page-numbers .big-number-wrapper{
	text-align: center;
	font-family: 'Century Gothic';
	color: #00b9c3;
}
#main-page-numbers .big-number-wrapper .big-number{
	font-size: 131px;
}
#main-page-numbers .big-number-wrapper .number-description{
	font-size: 20px;
}
/*fourth section*/



/*fifth section*/
#main-page-about{
	padding-bottom: 70px;
}
.main-page-about-wrapper{
	position: relative;
	height: 600px;
}
.main-page-about-wrapper .lera-photo{
	position: absolute;
	z-index: 1;
	width:58.33333333%;
	height:80%;
}
.main-page-about-wrapper .lera-photo img{
	height: 500px;
}
.main-page-about-wrapper .about-description-wrapper{
	position: absolute;
	right: 7%;
	top: 150px;
	height: 440px;
	width: 50%;
	border: 1px solid #00b9c3;
	padding: 60px;
	padding-left: 200px;
	z-index: 0;
	line-height: 34px;
	text-align: left;
}
.main-page-about-wrapper .about-description-wrapper p{
	width: 80%;
}


/*fifth section*/



/*sixth section*/
#main-page-reviews{
	padding-bottom: 70px;
}
#main-page-reviews .slide-wrapper{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ede6ec;
}

#main-page-reviews .slide-review{

	line-height: 30px;
}

#main-page-reviews img{
	max-height: 200px;
	max-width: 200px;
}

#main-page-reviews .owl-dots {
    display: block;
    margin-top: 15px;
    text-align: center;
}
#main-page-reviews .owl-dot {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
    display: inline-block;
}
#main-page-reviews .active{
	background: #00b9c3;
}
/*sixth section*/


/*index page*/


