.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: 1s ease-in-out;
    display: none;
    pointer-events: none;
}


.modalDialog > div {
    position: relative;
    height: 100%;
    width: auto;

}





/*mycssstart*/
.image-wrapper{
    padding: 0px;
    width: 270px;
    height: 150px;
    overflow: hidden;
}


.min-img{
    display: block;
    max-width: 100%;
}
.open-photo{
    cursor: pointer;
}

.max-img{
    display: block;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;

}
/*.max-img-wrapper*/
.close-popup-image{
    display: none!important;
    pointer-events: none!important;
}
.open-popup-image{
    display: block!important;
    pointer-events: auto!important;
}

/*arrows*/
.control-arrows{
    position: absolute;
    top:50%;
    left: 20px;
    cursor: pointer;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background: grey;
    text-align: center;
    line-height: 70px;

}
.right-arrow{
    left: auto;
    right: 20px;
}

/*for the second image*/
.min-img-wrapper{
    position: relative;
}
.min-img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

}
.min-img-layout{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:40%;
    left: 44%;
    transform: translate(-50%;-50%);
    -ms-transform: translate(-50%;-50%);
}
.min-img-wrapper:hover .min-img{
    opacity: 0.3;
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
}

.min-img-wrapper:hover .min-img-layout{
    opacity: 1;
}
.loop{
    background: url('../img/loop.png') center center / cover;
    height: 45px;
    width: 45px;
    z-index: -1;
    cursor: pointer;
    
}